.footer {
  background-color: #131a22;
  color: #ddd;
  padding: 20px 10px;
  font-size: 14px;
  height: 190px;

}

.footer_one {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer_col {
  width: 160px;
}

.footer_col h4 {
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
}

.footer_col a {
  display: block;
  font-size: 12px;
  color: #ccc;
  line-height: 1.4;
  cursor: pointer;
}

.footer_col a:hover {
  text-decoration: none;
}

.footer_bottom {
  text-align: center;
  margin-top: 20px;
  color: #bbb;
  font-size: 12px;
}

.footer_bottom a {
  margin: 0 10px;
  color: #bbb;
  cursor: pointer;
}

.footer_bottom a:hover {
  text-decoration: none;
}
