*{
    margin: 0;
    padding: 0;
}
.fixed{
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.header_container{
     background-color: #1a1a1a;
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: space-around;
     color: white;
     height: 60px;

}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
.logo_container img{
    width: 80%;
    padding-top: 7px;
    margin-left: 20px;
    vertical-align: middle;
    height:40px ;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-weight: bold;
    padding: 5px;
}
.delivery p{
    font-size: 11px;
    color: #d6d6d6;
}
.search{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* width: 100px;
     */
     max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
}
.search select{
    /* border: none; */
    padding: 11px;
    background-color: #d6d6d6;
}
.search select:hover{
    background-color: #c9c8c8;
    font-weight:550;
}
.search input{
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.search svg{
    padding: 7px;
    background-color: #ffce12;
    color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid #f8bd19;
}
.order_container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* max-width: 800px; */
    gap: 10px;
}
.order_container a {
    text-decoration: none;
    color: white;
}
.order_container p {
    font-size: 13px;
    text-align: left;
}
.language{
    width: 70px;
    display: flex;
    padding: 10px 0px  10px;
    margin-left: -10px;
}
.language select{
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-weight: bold;
}
.language img{
    width: 27%;
}
.language:hover{
    outline: 1px solid white;
}
.cart{
    position: relative;
}
.cart:hover{
    outline: 1px solid white;
}
.cart span{
    position: absolute;
    font-weight: bold;
    top: 0px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 15px;
    color: orange;
}
.sign:hover{
    outline: 1px solid white;
}
.returns:hover{
    outline: 1px solid white;
}
.order_container span{
    font-weight: bold;
}
.sign{
    padding-right: 10px;
}
.sign select{
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
}
.small_container{
    display: flex;
    text-align: center;
    background-color: #232F3E;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    gap: 15px;
}
.small_container a{
    color: white;
    text-decoration: none;
}
.small_container a:hover{
    outline: 1px solid white;
    box-sizing: border-box;
}
.manu{
    display: flex;
    text-align: center;
}
.manu span{
    margin-top: -4px;
    padding-right: 2px;
}
@media screen and (max-width: 576px) {
    .header_container {
        display: flex;
        flex-direction: column !important; /* fixed syntax */
        height: auto;
    }

    .small_container a:not(.manu) { /* removed space before :not */
        display: none;
    }

    .language {
        display: none;
    }
}

