.card_continer{
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    /* background-color: white; */
    padding: 10px;
    text-decoration: none;
    position: relative;
}
.button {
  display: none; 
  padding: 0px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0 ;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card_continer:hover .button{
    display: block;
}
.button:hover{
    background-color: var(--primary-color);
}
.card_continer img{
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.rating{
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    max-width: 1400px;
    margin: 100px auto 100px auto;
    gap: 50px;
    justify-items: center;
}
.product_container section{
    margin: 0 auto;
}
.flex_container{
    box-shadow: none;
    display: flex;
    height: auto;
    gap: 50px;
    width: 100%;
}
.flex_container h3 {
    padding: 30px 0;
}
.flex_container .button{
    display: block;
    position: static;
    width: 150px;
    margin-right: 40px;
}
.flex_container{
    height: 50vh;
}
.flex_container img {
    width: 300px !important;
    height: auto;
}
.flex_container .button:hover{
     background-color: white;
}
@media screen  and (max-width: 768px) {
.flex_container{
    display: flex;
    flex-direction: column;
}
}
.flex_container .description{
    width: 875px;
}
.shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
}